In [ ]:
# assignment-2:

In [ ]:
# solution no 1 where i used a clear function to empty the list.

In [1]:
number=[1,2,3,4,5,6,7,8,9,0]
number.clear()
print(number)

[]

In [ ]:
# solution no 2

In [2]:
number=[1,2,3,4,5,6,7,8,9,0]
number.append(1)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1]

In [ ]:
# solution no 3

In [3]:
name=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
name.remove("dipshikha")
print(name)

['jitendra', 'tanya', 'arpita', 'sakshi', 'divya', 'alok', 'bholu']

In [ ]:
# solution no 4

In [4]:
name=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
res=name.index("sakshi")
print(res)

3

In [5]:
name=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
res=name.index("divya")
print(res)

5

In [ ]:
# solution no 5

In [6]:
name=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
res=len(name)
print(res)

8

In [7]:
num=[1,2,3,4,5,6,7,8,9,0]
res=len(num)
print(res)

10

In [ ]:
# solution no 6

In [8]:
name=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
if "jitendra" in name:
    print("yes it is in there")
else:
    print("not in there")

yes it is in there

In [9]:
name=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
if "alex" in name:
    print("yes it is in there")
else:
    print("not in there")

not in there

In [ ]:
# solution no 7

In [10]:
list1=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
list2=[1,2,3,4,5,6,7,8,9,0]
print(list1+list2)

['jitendra', 'tanya', 'arpita', 'sakshi', 'dipshikha', 'divya', 'alok', 'bholu', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
# solution no 8

In [11]:
list1=[10,23,9,56,1000,67,34,8,6,78,45,34,87,72,98]

print(min(list1))

6

In [12]:
list1=[10,23,9,56,1000,67,34,8,6,78,45,34,87,72,98]

print(max(list1))

1000

In [ ]:
# solution no 9

In [13]:
list1=[10,23,9,56,1000,67,34,8,6,78,45,34,87,72,98,1000,34,45,56,6,7,8,9,56]
res=list1.count(1000)
print(res)

2

In [ ]:
# solution no 10

In [14]:
list1=["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu"]
list1.reverse()
print(list1)

['bholu', 'alok', 'divya', 'dipshikha', 'sakshi', 'arpita', 'tanya', 'jitendra']

In [ ]:
# solution no 11

In [15]:
list1=[10,23,9,56,1000,67,34,8,6,78,45,34,87,72,98,1000,34,45,56,6,7,8,9,56]
list1.sort()
print(list1)

[6, 6, 7, 8, 8, 9, 9, 10, 23, 34, 34, 34, 45, 45, 56, 56, 56, 67, 72, 78, 87, 98, 1000, 1000]

In [ ]:
# solution no 12

In [16]:
mylist = [10,23,9,56,1000,67,34,8,6,78,45,34,87,72,98,1000,34,45,56,6,7,8,9,56]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[10, 23, 9, 56, 1000, 67, 34, 8, 6, 78, 45, 87, 72, 98, 7]

In [ ]:
# solution no 13

In [17]:
mylist = [10,23,9,56,1000,67,34,8,6,78,45,34,87,72,98,1000,34,45,56,6,7,8,9,56]

# doubt

In [ ]:
# solution no 14

In [18]:
list1=[2,3,4,5,6,7,8,9]
num=int(input("enter the which multiply by list1: "))
for i in list1:
    print(num*i)

enter the which multiply by list1: 3
6
9
12
15
18
21
24
27

In [19]:
list1=[2,3,4,5,6,7,8,9]
num=int(input("enter the which multiply by list1: "))
for i in list1:
    print(num*i)

enter the which multiply by list1: 8
16
24
32
40
48
56
64
72

In [ ]:
# solution no 15

In [ ]:
mylist= ["jitendra","tanya","arpita","sakshi","dipshikha","divya","alok","bholu","jitendra","arpita","sakshi","tanya"]

print("the unique value is")
unique(mylist)               # doubt

In [ ]:
# solution no 16

In [22]:
name=("alex","ram","sita")

print(name)

('alex', 'ram', 'sita')

In [24]:
name=["sita","ram","rahul","pooja","rekha"]
name[0]="rakesh"
print(name)

['rakesh', 'ram', 'rahul', 'pooja', 'rekha']

In [ ]:
# solution no 17

In [25]:
list1=(1,2,3,4,5,6,7,8,9,0)
print(list1[2])

3

In [26]:
mylist=("sita","ram","rahul","pooja","rekha")
print(mylist[2])

rahul

In [ ]:
# solution no 18

In [27]:
Tuple=("sita","ram","rahul","pooja","rekha")
if "ram" in Tuple:
    print("present")
else:
    print("not present")

present

In [28]:
Tuple=("sita","ram","rahul","pooja","rekha")
if "alex" in Tuple:
    print("present")
else:
    print("not present")

not present

In [ ]:
# solution no 19

In [29]:
Tuples = ("sita","ram","rahul","pooja","rekha")
mylist = list(Tuples)
print(mylist)
print(type(mylist))

['sita', 'ram', 'rahul', 'pooja', 'rekha']
<class 'list'>

In [30]:
tuples=(1,2,3,4,5,6,7,8,9,0)
mylist=list(tuples)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
# solution no 20

In [31]:
tuple1=(1,2,3,4,5,6,7,8,9,0)
tuple2=(0,9,8,7,6,5,4,3,2,1)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
# solution no 21

In [32]:
name=("sita","ram","rahul","pooja","rekha")
res=name.index("rahul")
print(res)

2

In [ ]:
# solution no 22

In [33]:
a=("ram","sita","raaju")
b=a
print(b)

('ram', 'sita', 'raaju')

In [ ]:
# solution no 23

In [34]:
list1=["sita","ram","rahul","pooja","rekha"]
res=tuple(list1)
print(res)

('sita', 'ram', 'rahul', 'pooja', 'rekha')

In [35]:
list1=[1,2,3,4,5,6,7,8,9,0]
res=tuple(list1)
print(res)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [ ]:
# solution no 24

In [36]:
Tuple=("jitendra","alex",(1,2,3,4,5,6),)
print(Tuple)

('jitendra', 'alex', (1, 2, 3, 4, 5, 6))

In [ ]:
# solution no 25

In [37]:
a=int(input("enter the value of A: "))   # doubt
b=int(input("enter the value of B: "))
print("value of A= ",a, "\n value of B= ", b) 
(a,b)=(b,a)
print("value of A= ",a, "\n value of B= ", b)

enter the value of A: 23
enter the value of B: 45
value of A=  23
 value of B=  45
value of A=  45
 value of B=  23

In [38]:
a = int(input("Enter value of A: "))
b = int(input("Enter value of B: "))
print("Value of A = ", a, "\n Value of B = ", b)
(a, b) = (b, a)
print("Value of A = ", a, "\n Value of B = ", b)

Enter value of A: 67
Enter value of B: 87
Value of A =  67
 Value of B =  87
Value of A =  87
 Value of B =  67

In [ ]:
# solution no 26

In [39]:
marks= {"alex":20,"pooja":30,"shivendra":40}
del marks["alex"]
del marks["pooja"]
del marks["shivendra"]
print(marks)

{}

In [40]:
marks={"jitendra":90,"tanya":79,"arpita":85}
del marks["jitendra"]
del marks["tanya"]
del marks["arpita"]
print(marks)

{}

In [ ]:
# solution no 27

In [41]:
marks={"jitendra":90,"tanya":79,"arpita":85}
print(marks)

{'jitendra': 90, 'tanya': 79, 'arpita': 85}

In [42]:
name={"alex":90,"pappu":85,"sona":45}
print(name)

{'alex': 90, 'pappu': 85, 'sona': 45}

In [ ]:
# solution no 28

In [43]:
name={"alex":90,"pappu":85,"sona":45}
print(name["pappu"])

85

In [44]:
marks={"jitendra":90,"tanya":79,"arpita":85}
print(marks["jitendra"])

90

In [ ]:
# solution no 29

In [45]:
marks={"jitendra":90,"tanya":79,"arpita":85}
if "tanya" in marks:
    print("exists")
else:
    print("not exists")

exists

In [ ]:
# solution no 30

In [46]:
marks={"jitendra":20, "tanya":30,"pappu":40}
del marks["jitendra"]
del marks["tanya"]
del marks["pappu"]
print(marks)

{}

In [ ]:
# solution no 31

In [47]:
marks={"jitendra":20, "tanya":30,"pappu":40}

print(marks.keys())

dict_keys(['jitendra', 'tanya', 'pappu'])

In [ ]:
# solution no 32

In [48]:
marks={"jitendra":20, "tanya":30,"pappu":40}

print(marks.values())

dict_values([20, 30, 40])

In [ ]:
# solution no 33

In [49]:
marks={"jitendra":20, "tanya":30,"pappu":40} # doubt
for keys in marks:
    print(keys)

jitendra
tanya
pappu

In [ ]:
# solution no 34

In [50]:
marks={"jitendra":20, "tanya":30,"pappu":40}
for values in marks:                 # doubt
    print(values)

jitendra
tanya
pappu

In [ ]:
# solution no 35

In [51]:
name={"a":2, "b":4, "c":5, "d":7}
if "a" in name:
    print("exists")
else:
    print("not exists")

exists

In [52]:
name={"a":2, "b":4, "c":5, "d":7}
if "e" in name:
    print("exists")
else:
    print("not exists")

not exists

In [ ]:
# solution no 36

In [53]:
marks1= {"jitendra":20, "tanya":30,"pappu":40}
marks2= {"a":2, "b":4, "c":5, "d":7}

print(marks1 | marks2)

{'jitendra': 20, 'tanya': 30, 'pappu': 40, 'a': 2, 'b': 4, 'c': 5, 'd': 7}

In [54]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}

print(dict1 | dict2)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [ ]:
# solution no 37

In [55]:
marks1= {"jitendra":20, "tanya":30,"pappu":40}
marks1.clear()
print(marks1)

{}

In [ ]:
# solution no 38

In [56]:
marks= {"jitendra":20, "tanya":30,"pappu":40}
res=len(marks)
print(res)

3

In [ ]:
# solution no 39

In [57]:
d=dict()
for x in range (1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# solution no 40

In [58]:
name=set(())
print(name)

set()

In [ ]:
# solution no 41

In [59]:
nameset={"aryan","rohan","alex","pawan"}
nameset.add("jitendra")
print(nameset)

{'pawan', 'aryan', 'alex', 'rohan', 'jitendra'}

In [ ]:
# solution no 42

In [60]:
nameset={"aryan","rohan","alex","pawan","jitendra"}
nameset.remove("jitendra")
print(nameset)

{'rohan', 'pawan', 'aryan', 'alex'}

In [ ]:
# solution no 43

In [61]:
nameset={"aryan","rohan","alex","pawan","jitendra"}
if "jitendra" in nameset:
    print("exists")
else:
    print("not exists")

exists

In [62]:
nameset={"aryan","rohan","alex","pawan","jitendra"}
if "raaju" in nameset:
    print("exists")
else:
    print("not exists")

not exists

In [ ]:
# solution no 44

In [63]:
x = {"aryan","rohan","alex","pawan","jitendra"}
y = {"google","microsoft","apple"}
z = x.intersection(y)
print(z)

set()

In [64]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

In [ ]:
# solution no 45

In [65]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'apple', 'cherry', 'banana', 'microsoft', 'google'}

In [ ]:
# solution no 46

In [66]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'cherry', 'banana'}

In [ ]:
# solution no 47

In [67]:
A={1,2,3}
B={1,2,3,4,5}

print(A.issubset(B))

True

In [68]:
A={1,2,3,4,5,6}
B={1,2,3}

print(A.issubset(B))

False

In [ ]:
# solution no 48

In [69]:
nameset={"aryan","rohan","alex","pawan","jitendra"}
nameset.clear()

print(nameset)

set()

In [ ]:
# solution no 49

In [70]:
name=[1,2,3,4,5,6,7,8,9,0]
res=set(name)
print(res)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [71]:
list1=[1,2,3,4,5,6,7,8,9,0]
res=set(list1)
print(res)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# solution no 50

In [72]:
name={1,2,3,4,5,6,7,8,9,0}
res=list(name)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
name={"aryan","rohan","alex","pawan","jitendra"}
res=list(name)
print(res)

['rohan', 'jitendra', 'pawan', 'aryan', 'alex']

In [ ]:
# solution no 51

In [74]:
name1={"aryan","rohan","alex","pawan","jitendra"}
name2={"tanya","pooja","aysuhi","sohan","pawan"}
common_element=list(set(name1).intersection(name2))
print(common_element)

['pawan']

In [ ]:
# solution no 52

In [75]:
myset1={1,2,3,4,5}
myset=myset1 |{10,90}
print(myset)

{1, 2, 3, 4, 5, 90, 10}

In [ ]:
# solution no 53

In [76]:
name1={"aryan","rohan","alex","pawan","jitendra"}
name1.remove("jitendra")
if "jitendra" in name1:
    print("exists")
else:    

    print("not exists")

print(name1)

not exists
{'rohan', 'pawan', 'aryan', 'alex'}

In [ ]:
# solution no 54

In [77]:
s1={1,2,3,4,5}
s2={6,7,8,9,0}
print(s1.isdisjoint(s2))

True

In [78]:

s1 = {1, 2, 3}
s2 = {4, 5, 6}
print(s1.isdisjoint(s2))

True

In [ ]:
# solution no 55

In [79]:
list_val=[23,34,45,56,87,90,2,56,87]
list_val.sort()
print("the second largest num is : ",list_val[-2])

the second largest num is :  87

In [80]:
list_val = [20, 30, 40, 25, 10] 
list_val.sort() 
print("The second largest element of the list is:", list_val[-0])

The second largest element of the list is: 10

In [ ]:
# solution no 56

In [81]:
list1=[1,2,3,4,5,6]
list2=[2,7,8,4,0,9]
merge_list=list(set(list1+list2))
print(merge_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# solution no 57

In [82]:
def CountFreq(li):             # doubt
  freq = {}
  for items in li:
    freq[items] = freq.get(items,0)+1
  print(freq)
li =['a', 'a', 1, 1, 1, 'b', 'b', 'b', 2, 2, 2]
CountFreq(li)

{'a': 2, 1: 3, 'b': 3, 2: 3}

In [ ]:
# solution no 58

In [ ]:
#doubt

In [ ]:
# solution no 59

In [ ]:
list1=(1,2,3,4,5)         # doubt
list2=(0,9,8,7,6)

In [ ]:
# solution no 60

In [ ]:
# doubt

In [ ]:
# solution no 61

In [83]:
list1={"aryan","rohan","alex","pawan","jitendra"}
list2={"tanya","pooja","aysuhi","sohan","pawan"}

list3=list1.intersection(list2)
print(list3)

{'pawan'}

In [ ]:
# solution no 62

In [ ]:
#doubt

In [ ]:
# solution no 63

In [ ]:
#doubt

In [ ]:
# solution no 64

In [ ]:
#doubt