# 01. 
SQL, or Structured Query Language, was developed by IBM in the 1970s. Donald D. Chamberlin and Raymond F. Boyce are often credited with its invention. They initially created SQL as part of a research project at IBM, aiming to develop a language for managing and querying databases. Their work laid the foundation for what would become one of the most widely used languages for managing relational databases.

# 02. 
SQL first develop in 1970.

# 03.
IBM develop a first version of SQL.

# 04.

The original name of SQL was SEQUEL.

# 05.


SQL was influenced by a language called SEQUEL

# 06. 
The first commercial implementation of SQL was released in 1979 by Oracle Corporation.

# 07.

SQL was initially created with the purpose of providing a standardized language for managing and querying data in relational database management systems.

# 08.
SEQUEL (Structured English QUEry Language) - This was the original name of the language developed by IBM.
SQL-86 - The version standardized by ANSI (American National Standards Institute) in 1986.
SQL-89 - An updated version standardized by ANSI in 1989.
SQL-92 - Another significant update standardized by ANSI in 1992, which introduced many new features and enhancements.
SQL:1999 - Also known as SQL3, this version introduced even more features and improvements.
SQL:2003, SQL:2006, SQL:2008, SQL:2011, SQL:2016, SQL:2019 - These are subsequent versions that introduced further enhancements and standardizations over time.

# 09.
1. ANSI- 1986
2. ISO - 1987

# 10.
1. ANSI
2. ISO.

# 11. 
1986

# 12.
Data Definition Language (DDL):
1. CREATE
2. ALTER
3. DROP
Data Manipulation Language (DML):
1. INSERT
2. SELECT
3. DELETE
4. UPDATE
DATA CONTROLING LANGUAGE:
1. GRANT
2. REVOKE

# 13. 
The primary motivation behind creating SQL was to provide a standardized language for managing and querying data stored in relational database management systems.

# 14.
1. Standardization efforts by ANSI and ISO.
2. Introduction of new features and enhancements.
3. Performance optimization.
4. Integration with other technologies and programming languages.
5. Support for big data and NoSQL databases.
6. Security enhancements.

# 15. 
1. Support for referential integrity constraints.
2. Enhanced CREATE TABLE statement.
3. Addition of the CASE expression.
4. Support for correlated subqueries.
5. Introduction of the UNION ALL operator.
6. Expanded support for data types.
7. Support for SQL catalogs and schemas.
8. Definition of SQL syntax for embedded SQL.
9. Clarification and standardization of SQL syntax.
10. Improved transaction control with SAVEPOINT.

# 16. 

1. Development of initial concepts for SEQUEL, later renamed SQL.
2. Contribution to the evolution and standardization of SQL.
3. System R project for developing a prototype RDBMS with SQL.
4. Release of commercial RDBMS products like IBM DB2 with SQL support.
5. Involvement in standardization efforts for SQL by contributing to ANSI and ISO standards.

# 17. 

SQL started gaining popularity outside of academia and research in the late 1970s and early 1980s. As commercial relational database management systems (RDBMS) began to emerge, such as Oracle, IBM DB2, and Microsoft SQL Server, SQL became more widely adopted in various industries for managing and querying data.

# 18. 
1. Declarative nature: Focuses on what data is needed rather than how to retrieve it.
2. Set-based operations: Manipulates entire sets of data at once, improving efficiency.
3. Standardization: SQL was standardized by organizations like ANSI and ISO for interoperability.
4. Unified language: Handles database definition, manipulation, and access control tasks within a single language.
5. Optimization: Includes query optimization techniques for improved performance.

# 19.
IBM is the first contributer in SQL project in 1970 by Donald D. Chamberlin and Raymond F. Boyce.

In [ ]:
# 20. 
1. IBM's System R
2. Oracle
3. Ingres
4. Sybase
5. Microsoft SQL Server
Informix
InterBase